{% extends 'base_layout.html' %}

{% block content %}
    <p>LISTA ARTYKUŁÓW</p>
        <div class = "articles">
            {% for article in articles %}
                <div class="article">
                    <h2><a href="{% url 'articles:detail' article.slug %}"> {{ article.title }}</a> </h2>
                    <p> {{article.date }}</p>
                    <p> {{article.snippet }}</p>
                    <p> {{article.author }}</p>
                </div>
            {% endfor %}
        </div>
{% endblock %}
